/* Cards */
.generic-card-wide.mdl-card {
    width: 100%;
    min-height: auto;
}

.generic-card-wide > .mdl-card__title {
    color: #000000;
}

.generic-card-wide > .mdl-card__menu {
    color: #000000;
}

.navigation-card-wide.mdl-card {
    width: 100%;
    min-height: auto;
}

/* Tables */
.full-width {
    width: 100%;
}