{% extends "generic.html" %}
{% block dashboard_active %} active {% endblock %}

{% block webpage_title %}
Dashboard
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <img style="width:10em" src="../static/img/karman_ln.png"/>
        </div>
    </div>
    <hr/>
    <div class="col-md-6">
        <div class="well">
            <h3>Total stories</h3>
            <hr/>
            <h4 style="text-align: right">{{ story_number }}</h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h3>Total queries</h3>
            <hr/>
            <h4 style="text-align: right">{{ query_number }}</h4>
        </div>
    </div>
{% endblock %}