{% extends "generic.html" %}
{% block dashboard_active %} active {% endblock %}

{% block webpage_title %}
    Laice | Dashboard
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <img style="float: left; width:8em" src="https://i.imgur.com/HmvI1JP.png"/>
            <h2 class="text-center">Welcome to Laice!</h2><br/>

            <h4 class="text-center">
                Click on <a href="/help/">help</a> to get started<br/>
                Alternatively click on <a href="/stories/">stories</a> to create your first story!
            </h4>

        </div>
    </div>
    <hr/>
    <div class="col-md-6">
        <div class="well">
            <h3>Total stories</h3>
            <hr/>
            <h4 style="text-align: right">{{ story_number }}</h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h3>Total queries</h3>
            <hr/>
            <h4 style="text-align: right">{{ query_number }}</h4>
        </div>
    </div>
{% endblock %}