{% extends "generic.html" %}
{% block stories_active %} active {% endblock %}

{% block webpage_title %}
    Laice | {{ story_name }}
{% endblock %}

{% block content %}
    <div class="well">
        <h3>
            <button id="delete-story-btn" type="button" class="pull-right btn btn-danger">Delete Story</button>
            <a href="{% url 'stories_view' %}">Stories</a>
            &nbsp; > &nbsp;
            <a href="{% url 'inner_story_view' story_name=story_name %}"> {{ story_name }} </a>
        </h3>
    </div>

    <br/>

    <div class="well">
        <h2>Attributes</h2>
        <hr/>
        <div id="div-attribute-table"></div>
    </div>

    <br/>
    <hr/>
    <br/>


    <div class="pull-right btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            View: unconfigured <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">View: unconfigured</a></li>
            <li><a href="#">View: configured</a></li>
            <li><a href="#">View: all</a></li>
        </ul>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="well">
        <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;Get me some beer</h4>
        <hr/>

        <table class="table">
            <thead>
            <tr>
                <th>Text</th>
                <th>Attribute</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Get</th>
                <th>action</th>
                <th>
                    <button type="button" class="btn btn-danger">Delete</button>
                </th>
            </tr>
            <tr>
                <th scope="row">beer</th>
                <th>object</th>
                <th>
                    <button type="button" class="btn btn-danger">Delete</button>
                </th>
            </tr>
            <tr>
                <th><input type="text" class="form-control" placeholder="text"></th>
                <th>
                    <select class="form-control">
                        <option value="one">action</option>
                        <option value="two">object</option>
                    </select>
                </th>
                <th>
                    <button type="button" class="btn btn-success">Add</button>
                </th>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="well">
        <h4><span class="glyphicon glyphicon-remove"></span>&nbsp;Get me some shoes</h4>
        <hr/>

        <table class="table">
            <thead>
            <tr>
                <th>Text</th>
                <th>Attribute</th>
                <th>Action</th>
            </tr>
            </thead>
            <tr>
                <th scope="row">Get</th>
                <th>action</th>
                <th>
                    <button type="button" class="btn btn-danger">Delete</button>
                </th>
            </tr>
            <tbody>
            <tr>
                <th><input type="text" class="form-control" placeholder="text"></th>
                <th>
                    <select class="form-control">
                        <option value="one">action</option>
                        <option value="two">object</option>
                    </select>
                </th>
                <th>
                    <button type="button" class="btn btn-success">Add</button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock content %}

{% load static %}
{% block end_extra_scripts %}
    <script src="{% static 'js/inner_stories.js' %}"></script>
    <script>
        $(function () {
            $('#addaa-attribute-btn').on('click', function (e) {
                e.preventDefault(); // prevent the default form submit action

                var l = document.getElementById("attributes-add-status-label");
                var $form = $('#new-attribute-form');

                $.ajax({
                    url: $form.attr("action"),
                    type: $form.attr("method"),
                    data: $form.serialize(),
                    success: function (response) {
                        l.innerHTML = "";

                        // Get table
                        var table = document.getElementById("attributes-table");

                        // Create empty row
                        var row = table.insertRow(-1);

                        // Cells to be entered to row
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);

                        // Set inner HTML
                        cell1.innerHTML = "<th scope='row'><strong>" + response['attribute'] + "</strong></th>";
                        cell2.innerHTML = '<th><button type="button" class="btn btn-danger">Delete</button></th>';
                    },
                    error: function (response) {
                        l.innerHTML = '<div class="alert alert-warning" role="alert"><a href="#" class="alert-link">Sorry, attribute name has been taken!</a></div>';
                    },
                });

                return false;
            });
        });
    </script>
{% endblock %}