{% extends "generic.html" %}
{% block stories_active %} active {% endblock %}

{% block webpage_title %}
    Laice | {{ story_name }}
{% endblock %}

{% block content %}
    <div class="well">
        <h2>Curl request:</h2>
        <pre>curl -X post -H "Content-Type: application/json" -d '{"querystring": "my querystring"}' http://{{ request.get_host }}{% url 'query_list' story_name=story_name %}</pre>
    </div>

    <div id="div-inner-story-content"></div>
{% endblock content %}

{% load static %}
{% block end_extra_scripts %}
    <script>
        var STORY_URL = "{% url 'stories_view' %}";
        var STORY_NAME = "{{ story_name }}";
    </script>
    <script src="{% static 'js/inner-stories.js' %}"></script>
{% endblock %}