{% extends "generic.html" %}
{% block stories_active %} active {% endblock %}

{% block webpage_title %}
    Laice | stories
{% endblock %}

{% block content %}
    <div class="well">
        <h3>
            <a href="{% url 'stories_view' %}">Stories</a>
        </h3>
    </div>


    <br/>

    <div class="well">
        <h2>Story List</h2>
        <hr/>
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Story</th>
                <th>Unconfigured requests</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><a href="#">The real potatoes</a></th>
                <td>12</td>
            </tr>
            <tr>
                <th scope="row"><a href="#">Nom nom nom</a></th>
                <td>13</td>
            </tr>
            <tr>
                <th scope="row"><a href="#">Nyan cat</a></th>
                <td>14</td>
            </tr>
            </tbody>
        </table>

        <form>
            <input type="text" class="form-control" placeholder="Story name"><br/>
            <button type="submit" class="btn btn-block btn-default btn-success">Add</button>
        </form>

    </div>
{% endblock content %}
