{% extends "generic.html" %}
{% block stories_active %} active {% endblock %}

{% block webpage_title %}
    {{ story_name }}
{% endblock %}

{% block content %}
    <div id="div-visualisation-content"></div>
{% endblock content %}

{% load static %}
{% block end_extra_scripts %}
    <script>
        var STORY_URL = "{% url 'stories_view' %}";
        var STORY_NAME = "{{ story_name }}";
        var API_URL = "/api/stories/" + "{{ story_name }}" + "/";
    </script>
    <script src="{% static 'js/visualisation.js' %}"></script>
{% endblock %}